body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Cor de fundo leve */
    margin: 0;
    padding: 0;
}

header {
    background-color: #28a745;
    padding: 15px;
    color: white;
}

    header nav {
        display: flex;
        justify-content: center;
    }

        header nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 16px;
        }

            header nav a:hover {
                text-decoration: underline;
            }

.container {
    margin: 20px auto;
    max-width: 960px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #28a745;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #218838;
    }
